* {
    font-family: 'Barlow Condensed', sans-serif;

    

}

.title {
    font-family: 'Dancing Script', cursive;
    font-size: 80px;
   padding: 0;
   margin: 0;
    
}


.cabecalho {
    width: 100vh;
    margin: auto;
    text-align: center;
    background-color: rgb(224, 230, 231);
}

.main {
    width: 100vh;
    height: 100%;
    margin: auto;
    background-color: antiquewhite;
    padding: 10px;
    box-sizing: border-box;
}

.center {
    text-align: center;
}

footer {
    width: 100vh;
    margin: auto;
    text-align: center;
    padding: 5px;
}

footer a {
    text-decoration: none;
    color: black;
}

.menu {
    padding: 10px;
    background-color: black;
    width: 100vh;
    box-sizing: border-box;
}

.menu a {
    text-decoration: none;
    color: white;
    margin: 0px 10px 0px 10px;
}

table#estoque {
    text-align: center;
    margin: 10px;
    margin: auto;

}

table th, table td {
    text-align: center;
    padding: 7px;
    background-color: white;
}



.lista {
    list-style-type: none;
}

.lista a {
    text-decoration: none;
    color: black;

}

ul {
    margin: 15px;
    padding: 0;
}

a:hover{
    
}


form {
    padding: 10px;
}

.btn {
    width: 60px;
    border: none;
    padding: 5px;
    background-color: black;
    color: white;
}

.btn--vendas {
    width: 100px;
}

input{
    border: none;
    width: 180px;
}

input#cod-produto {
    width: 400px;
}

input:focus{
    border: none;
    outline: none;  
}

.relative-position {
    position: relative;
    margin: auto;
    width: 25vh;
    padding: 10px;
    
}

.formulario-vendas {
    width: 78%;
    height: 300px;
    display: inline-block; 
  
        
}

.historico-vendas {
    position: relative;
    width: 75vh;
    display: inline-block;
}

.nav-lateral {
    width: 106px;
    height: 100px;
    float: right;
    background-color: white;
   margin: 20px;
}

.vendas {
    margin: 15px;
}

select {
    border: none;
}

select:focus {
    outline: none;
}

.lupa {
    width: 13px;
    margin-left: 5px;
}

.pesquisa-data {
    width: 300px;
    height: 40px;
    text-align: center;
    padding: 20px;
    display: inline-block;
}

