.header {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid hotpink;
    max-width: 500px;
    align-items: center;
    box-sizing: border-box;
}

.header__logo {
    width: 60px;
    object-fit: contain;
}

.header__icon {
    width: 60px;
    padding: 20px;
}