.headerContainer {
    background-color:var(--white);
    padding: 1.5rem 2.5rem 1.5rem 2.5rem;
   

    display: flex;

    h1 {
        color: var(--hotpink);
        margin-right: auto;
    }

    button {
        margin-left: auto;
    }
}